{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'colorflipper/css/style.css' %}">
  <title>Color Flipper</title>
</head>
<body>
  <nav>
    <div class="nav-center">
      <h3>Color Flipper</h3>
      <a href="{% url 'home' %}">Home</a>
    </div>
  </nav>
  <main>
    <div class="container">
      <h1>Background Color: <span id="ColorValue">#ffffff</span></h1>
      <div class="action">
        <input type="color" id="ColorInput">
        <button id="ChangeColor">Change</button>
      </div>
    </div>

  <script src="{% static 'colorflipper/js/app.js' %}"></script>
</body>
</html>